.wd-card {
    box-shadow: 1px 5px 34px 8px rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 1px 5px 34px 8px rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 1px 5px 34px 8px rgba(133, 133, 133, 0.75);
    border-radius: 4px;
    background-color: #373e69;
}

.card {
    border: none !important; 
}

.card-body{
    color: rgb(180, 180, 180) !important;
}

.row {
    --bs-gutter-x: 25rem !important;
}