/* 
   TODO -- Replace Left Link selector with Bars at the top starting at 1000px
   TODO -- Replace the About Blogs and Contacts in Bars icon at top too starting at 400px.

   GET RID OF SIDE BAR AT 924 width
*/

body {
    overflow-x: hidden;
    background-color: #06063b !important;
    opacity: 0.9;
    /* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #06063b 60px ), repeating-linear-gradient( #141cb655, #141cb6 ); */
    background-color: linear-gradient(90deg,#161b23,#1c212a,#1c212a,#1c212a,#1c212a);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}


.h-30{
    height: 40%!important;
}

/* .wd-dark-filter { 
    filter: grayscale(100%) invert(92%) contrast(83%);
} */

.wd-nav-padding {
    padding-top: 4.25rem;
}

.wd-gen-nav {
    position: fixed;
    width: 5vw;
    margin-top: 1.25%;
    margin-left: 1.25%;
    list-style-type: none;
    color: black;
    flex-wrap: wrap;
}

.wd-bg-gray {
    background-color: #6d6d6dd7;
}

.wd-rounded-10 {
    border-radius: 10px;
}

.wd-form-pre-message{
    box-shadow: 0px 0px 15px 13px  rgba(133, 133, 133, 0.75);
    -webkit-box-shadow: 0px 0px 15px 13px  rgba(133, 133, 133, 0.75);
    -moz-box-shadow: 0px 0px 15px 13px  rgba(133, 133, 133, 0.75);
    border-radius: 4px;
    background-color: #373e69;
    padding: 10px;
}

ul.wd-gen-nav .list-group-item {
    padding-left: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px #17193b;
    color: black;
    background-color: rgba(244, 244, 245, .6);
}

ul.wd-gen-nav .list-group-item:hover {
    text-decoration: underline;
}

ul.wd-gen-nav .list-group-item:active,
ul.wd-gen-nav .wd-active {
    box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
}

.wd-inset-shadow-center {
    box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -webkit-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: -1px -1px 92px 21px rgba(0, 0, 0, 0.15) inset;
}

#page-nav{
    border: 1px white; /* Not working for some reason if u want fix */
    background-color: rgba(6, 6, 59, 0.4);
}

/* Margin Settings */

.mt-5rem {
    margin-top: 5rem;
}

.mb-5rem {
    margin-bottom: 5rem;
}

.my-10rem {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.mt-10rem {
    margin-top: 10rem;
}

.mb-10rem {
    margin-bottom: 10rem;
}

.mt-15rem {
    margin-top: 15rem;
}

.mb-15rem {
    margin-bottom: 15rem;
}

.my-20rem {
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.mt-20rem {
    margin-top: 20rem;
}

.mb-20rem {
    margin-bottom: 20rem;
}