.home {
    height: 100vh;
}

.pdf-height{
    height: 40rem !important;
}

.mx-pdf {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
    min-width: 250px;
}

.intro-title{
    color: rgb(245, 248, 250);
}

.wd-intro{
    color: rgb(182, 182, 182);
}