.home-page {
    height: 100vh;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-style: normal;
}

.pdf-viewer{
    height: 40rem !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.intro-title{
    color: rgb(245, 248, 250);
}

.wd-intro{
    color: rgb(182, 182, 182);
    text-align: left;
}

.intro-title {
    text-align: center;
}

.editor {
    display: inline-block;
    background-color: black;
    font-family: Consolas, 'Courier New', monospace;
    font-weight: normal;
    font-style: normal;
    font-size: 15px;
    text-indent: 2px;
    outline: 6px ridge rgb(97, 97, 115);
    box-shadow: 0px 0px 32px 0px #000000 inset;
}

.h-15{
    min-height: 15vh;
    max-height: 15vh;
}


.h-25{
    min-height: 25vh;
    max-height: 25vh;
}

.h-8{
    min-height: 8vh;
    max-height: 8vh;
}

.h-5{
    min-height: 5vh;
    max-height: 5vh;
}