.wd-post-titles-authors{
    padding-left: 0 !important;
    padding-right: 1rem !important;
    width: 12% !important;
    max-width: 35% !important;
    
}

.list-group-item{
    background-color: rgb(180, 204, 240);
}

.row {
    margin-top: 1rem !important;
    margin-right: 1rem !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

.h4 {
    text-shadow: 10px !important;
}